img{
    width: 150px;
    height: 150px;
}

h3{
    text-align: center;
    color: white;
}

html,body{
    height:100%;
}

body{
    background-image: url("../css/images/boxingring.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    color: red;
    
}

#punch{
    margin-left: 90px;
    margin-top: 10px;
}

#ajPic{
    position: relative;
    text-align: center;
    color: black;
}

#furyPic{
    position: relative;
    text-align: center;
    color: black;
}

#wilderPic{
    position: relative;
    text-align: center;
    color:black;
}

#ruizPic{
    position: relative;
    text-align: center;
    color: black;
}

#challengerBox{
    border-style: solid;
    border-color: white;
    height: 300px;
}

#defenderBox{
    border-style: solid;
    border-color: white;
    height: 300px;
}

#punchBox{
    border-style: solid;
    border-color: red;
    height: 300px;
}

#possibleDefenders{
    Height: 220px;
    width: 1044px;
    border-style: solid;
    border-color: white;
}

.img {
    display: inline-block;
}